[user]
    name = David Prandzioch
    email = hello+git@davd.eu

[color]
    ui = auto

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    ap = "add -p"
    h = "log --pretty=format:'%h - %s%d (%ar) <%an>' --graph --date=short"
    type = "cat-file -t"
    dump = "cat-file -p"
    aa = "add -A"
    pa = "push origin --all"
    di = diff
    dc = "diff --cached"
    p = "pull origin"
    rao = "remote add origin"
    ai = "add --patch --interactive"
    amend = commit --amend

[push]
    default = current

[merge]
    tool = vimdiff
