# Ignore everything
*

# But not these files...
!.zsh
!.vim/bundle
!.vim/colors
!.gitignore
!.vimrc
!.zshrc
!README.md
!.gitmodules
!.gitignore
!Brewfile

# ...even if they are in subdirectories
#!*/
