# Ignore everything
*

# But not these files...
!.zsh
!.vim
!.gitignore
!.aliases
!.bash_profile
!.bash_prompt
!.bashrc
!.vimrc
!.zshrc
!README.md
!.gitmodules
!.gitignore

# ...even if they are in subdirectories
#!*/
