# Core
[submodule ".vim/bundle/pathogen"]
        path = .vim/bundle/vim-pathogen
        url = https://github.com/tpope/vim-pathogen.git

[submodule ".vim/bundle/delimitMate"]
        path = .vim/bundle/delimitMate
        url = https://github.com/Raimondi/delimitMate.git

[submodule ".vim/bundle/nerdtree"]
        path = .vim/bundle/nerdtree
        url = https://github.com/scrooloose/nerdtree.git

[submodule ".vim/bundle/supertab"]
        path = .vim/bundle/supertab
        url = https://github.com/ervandew/supertab.git

[submodule ".vim/bundle/markdown"]
        path = .vim/bundle/vim-markdown
        url = https://github.com/tpope/vim-markdown.git

[submodule ".vim/bundle/syntastic"]
        path = .vim/bundle/syntastic
        url = https://github.com/scrooloose/syntastic.git

[submodule ".vim/bundle/vim-javascript-syntax"]
        path = .vim/bundle/vim-javascript-syntax
        url = https://github.com/jelera/vim-javascript-syntax.git

[submodule ".vim/bundle/JavaScript-Indent"]
        path = .vim/bundle/JavaScript-Indent
        url = https://github.com/vim-scripts/JavaScript-Indent.git

[submodule ".vim/bundle/Dockerfile"]
        path = .vim/bundle/Dockerfile
        url = https://github.com/ekalinin/Dockerfile.vim.git

[submodule "/Users/davd/.vim/bundle/vim-go"]
        path = /Users/davd/.vim/bundle/vim-go
        url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/php.vim"]
	path = .vim/bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-bufferline"]
	path = .vim/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/bundle/vim-nerdtree-tabs"]
	path = .vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/base16-vim"]
	path = .vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/javascript-libraries-syntax"]
	path = .vim/bundle/javascript-libraries-syntax
	url = https://github.com/othree/javascript-libraries-syntax.vim
[submodule ".vim/bundle/vim-angular"]
	path = .vim/bundle/vim-angular
	url = git://github.com/burnettk/vim-angular.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = https://github.com/elzr/vim-json
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
