# Core
[submodule ".vim/bundle/pathogen"]
        path = .vim/bundle/vim-pathogen
        url = https://github.com/tpope/vim-pathogen.git

[submodule ".vim/bundle/ctrlp.vim"]
        path = .vim/bundle/ctrlp.vim
        url = https://github.com/kien/ctrlp.vim.git

[submodule ".vim/bundle/ack.vim"]
        path = .vim/bundle/ack.vim
        url = https://github.com/mileszs/ack.vim.git

[submodule ".vim/bundle/delimitMate"]
        path = .vim/bundle/delimitMate
        url = https://github.com/Raimondi/delimitMate.git

[submodule ".vim/bundle/nerdcommenter"]
        path = .vim/bundle/nerdcommenter
        url = https://github.com/scrooloose/nerdcommenter.git

[submodule ".vim/bundle/nerdtree"]
        path = .vim/bundle/nerdtree
        url = https://github.com/scrooloose/nerdtree.git

[submodule ".vim/bundle/supertab"]
        path = .vim/bundle/supertab
        url = https://github.com/ervandew/supertab.git

[submodule ".vim/bundle/markdown"]
        path = .vim/bundle/vim-markdown
        url = https://github.com/tpope/vim-markdown.git

[submodule ".vim/bundle/syntastic"]
        path = .vim/bundle/syntastic
        url = https://github.com/scrooloose/syntastic.git

[submodule ".vim/bundle/vim-javascript-syntax"]
        path = .vim/bundle/vim-javascript-syntax
        url = https://github.com/jelera/vim-javascript-syntax.git

[submodule ".vim/bundle/JavaScript-Indent"]
        path = .vim/bundle/JavaScript-Indent
        url = https://github.com/vim-scripts/JavaScript-Indent.git

[submodule ".vim/bundle/Dockerfile"]
        path = .vim/bundle/Dockerfile
        url = https://github.com/ekalinin/Dockerfile.vim.git

[submodule "/Users/davd/.vim/bundle/vim-go"]
        path = /Users/davd/.vim/bundle/vim-go
        url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/php.vim"]
	path = .vim/bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-bundler"]
	path = .vim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
