[user]
  name = David Stapp
  email = {{ .email | quote }}

[color]
  ui = auto

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  h = "log --pretty=format:'%h - %s%d (%ar) <%an>' --graph --date=short"
  aa = "add -A"
  pa = "push origin --all"
  di = diff
  rao = "remote add origin"
  ai = "add --patch --interactive"

[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	autocrlf = input

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[push]
	default = current
	autoSetupRemote = true
  followTags = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[merge]
  tool = vimdiff

[pull]
  #rebase = false
	rebase = true

[init]
	defaultBranch = main

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
  external = difft

[commit]
  verbose = true

[rerere]
  enabled = true
  autoupdate = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
